.back-img {
    position: fixed;
    left: 0;
    top: -200px;
    width: 100%;
    height: auto;
    z-index: -1;
    -webkit-filter: blur(3px);
}

.main-address-input {

    background-color: rgba(0,0,0,0);
    color: white;

    border: 2px solid white;
}
.address-label {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    color: white;
}

.flexbox {
    justify-content: center;
    display: flex;
}

.myNavBar {
    background-color: rgba(52, 73, 94, 0.5);
}
.sub-title {
    color: white;
}
.main-pitch {
    color: white;
}

